body {
    font-size: 18px bold;
    text-align: center;
    color: #888888;
    font-family: Helvetica Neue, Regular;
}

section#cabecalho {
    position: relative;
    top: 0px;
    background-color: #707070;
    color: #ffffff;
    border: #707070 1px;
}

div#interface {
    background-color: #ffffff, 100%;
}

.btn-inicial {
    font-size: 14px;
    font-family: Helvetica Neue, Regular;
    color: #888888;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin: 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background: #ffffff;
}

.btn-comprar {
    background: #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: Helvetica Neue, Regular;
    color: #888888;
    border: 1px solid #707070;
    width: 200px;
    height: 30px;
    margin-bottom: 39px;
    text-align: center;
}

.btn-produtos {
    background: #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    margin-top: 43px;
    width: 260px;
    height: 39px;
}

li {
    color: #888888;
    font-size: 14px;
    font-family: Helvetica Neue, Regular;
}

.stables-1{
    font-size: 20px;
    text-align: center;
    font-family: Helvetica Neue, Regular;
    margin-top: 0px;

}

.stables-2 {
    font-size: 40px;
    text-align: center;
    font-family: Helvetica Neue, Regular;
    margin-top: 0px;
    color: #ffffff;
}



.stables3 {
    font-size: 14px;
    text-align: center;
    font-family: Helvetica Neue, Regular;
}


p {
    font-size: 12px;
    font-family: Neue Helvetica, regular;
    text-align: left;
    color: #888888
}

p#nome-produto {
    font-size: 14px;
    font-family: Neue Helvetica, Regular;
    text-align: left;
    color: #888888;
}

p#preco-negrito {
    font-size: 16px;
    font-family: Neue Helvetica, bold;
    text-align: left;
    color: #888888;

}

h1 {
    font-size: 18px;
    text-align: center;
    font-family: Helvetica Neue, Regular;
    color: #888888;
}



h1#final {
    border: #707070;
    text-align: center;
    font-size: 16px;
    font-family: Helvetica, Regular;
    color: #888888;
}

footer#rodape p {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    font-family: Helvetica Neue, Regular;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    resize: vertical;
    overflow: auto;
}

section#rodape {
    position: relative;
    background-color: #707070;
    height: 200px;
}

li.product {
    margin-right: 41px;
    max-width: 200px;
    max-height: 350px;
}

.news {
    margin-top: 174px;
}

.newsTitulo {
    margin-top: 44px;
    text-align: center;
}

.newsConteudo {
    margin-top: 39px;
    text-align: center;
    max-width: 720px;
    margin-left: 390px;
    margin-right: 390px;
}

.newsConteudoLabelNome {
    text-align: left;
    margin-right: 64px;
}

.newsConteudoNome {
    text-align: left;
    margin-right: 40px;
}

.cardLinha {
    margin-left: 170px;
    width: 923px;
    display: flex;
}

.cardColuna {
    width: 200px;
    padding-right: 41px;
}
